/* Media requests */
$media-mobile: '(width <= 480px)';
$media-tablet: '(width <= 768px)';
$media-small-desktop: '(width <= 1152px)';
$media-medium-desktop: '(width <= 1600px)';
$media-desktop: '(width <= 1920px)';
$media-large-desktop: '(width <= 2560px)';
