/* Media requests */
$media-mobile-small: '(width <= 360px)';
$media-mobile-medium: '(width <= 480px)';
$media-tablet-small: '(width <= 768px)';
$media-tablet-medium: '(width <= 1024px)';
$media-laptop: '(width <= 1440px)';
$media-desktop-small: '(width <= 1680px)';
$media-desktop-medium: '(width <= 1920px)';
$media-desktop-large: '(width <= 2560px)';
